{% extends 'base.html' %}
{% block title %} Contact info {% endblock %}
{% block content %}
    <h2>{{ persons_details.name }} {{ persons_details.surname }}</h2>
    <p><b>Email: </b>{{ pemail.email }}</p>
    <p><b>Phone Number: </b>{{ persons_phone.phone_number }}</p>


    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <form>
        <button formaction="{% url "delete" persons_details.id %}">Delete</button>
        <button formaction="{% url "edit" persons_details.id %}">Edit</button>
        </form>
    {% endif %}
{% endblock %}